---
layout: archive
title: "Publications"
permalink: /publications_sujan/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Book Chapter</h2>

<ul class="publication-list">

  <li class="publication-item compact">
    <strong>Domain isolation and access control in multi-tenant cloud FPGAs</strong><br>
    <span class="authors">
      Christophe Bobda; Joel Mandebi Mbongue; <strong>Sujan Kumar Saha</strong>; and Muhammed Kawser Ahmed
    </span><br>
    <span class="venue">
      In <em>Security of FPGA-Accelerated Cloud Computing Environments</em>, Springer International Publishing, 2023
    </span><br>
    <span class="links">
      [<a href="https://link.springer.com/chapter/10.1007/978-3-031-45395-3_2" target="_blank">chapter</a>]
    </span>
  </li>
</ul>

<h2>Patent</h2>

<ul class="publication-list">
  <li class="publication-item compact">
    <strong>Gray-box Hardware Penetration Testing Framework for Hardware Security Verification</strong><br>
    <span class="authors">
      Mark Tehranipoor; Shuvagata Saha; <strong>Sujan Kumar Saha</strong>; Farimah Farahmandi; Fahim Rahman; Hasan Al-Shaikh; Kimia Zamiri Azar
    </span><br>
    <span class="venue">
      <em>US Patent</em>, filed (under review) , 2025
    </span><br>
  </li>
</ul>

<h2>Journal Papers</h2>

<ul class="publication-list">
  <li class="publication-item compact">
  <strong>Rethinking System-on-Chip Verification for Secure Cross-layer Interactions</strong><br>
  <span class="authors">
    Hasan Al Shaikh, Shuvagata Saha, <strong>Sujan Kumar Saha</strong>, Kimia Zamiri Azar, Farimah Farahmandi, and Mark Tehranipoor
  </span><br>
  <span class="venue">
    IEEE Design & Test, 2025
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/10973295" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>VerilogDB: The Largest, Highest-Quality Dataset with a Preprocessing Framework for LLM-based RTL Generation</strong><br>
  <span class="authors">
    Paul E Calzada, Zahin Ibnat, Tanvir Rahman, Kamal Kandula, Danyu Lu, <strong>Sujan Kumar Saha</strong>, Farimah Farahmandi, and Mark Tehranipoor
  </span><br>
  <span class="venue">
    arXiv preprint arXiv:2507.13369, 2025
  </span><br>
  <span class="links">
    [<a href="https://arxiv.org/pdf/2507.13369" target="_blank">paper</a>
      |
    <a href="https://www.deep-chip.org/verilogdb.html" target="_blank">source code</a>]
  </span>
</li>


<li class="publication-item compact">
  <strong>SVAgent: AI Agent for Hardware Security Verification Assertion</strong><br>
  <span class="authors">
    Rui Guo, Avinash Ayalasomayajula, Henian Li, Jingbo Zhou, <strong>Sujan Kumar Saha</strong>, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    arXiv preprint arXiv:2507.16203, 2025
  </span><br>
  <span class="links">
    [<a href="https://arxiv.org/pdf/2507.16203?" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>DeepV: a model-agnostic retrieval-augmented framework for verilog code generation with a high-quality knowledge base</strong><br>
  <span class="authors">
    Zahin Ibnat, Paul E Calzada, Rasin Mohammed Ihtemam, <strong>Sujan Kumar Saha</strong>, Jingbo Zhou, Farimah Farahmandi, and Mark Tehranipoor
  </span><br>
  <span class="venue">
    arXiv preprint arXiv:2510.05327, 2025
  </span><br>
  <span class="links">
    [<a href="https://arxiv.org/pdf/2510.05327?" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Multi-Tenant Cloud FPGA: A Survey on Security, Trust, and Privacy</strong><br>
  <span class="authors">
    Muhammed Kawser Ahmed, Maximillian Panoff Kealoha, Joel Mandebi Mbongue, <strong>Sujan Kumar Saha</strong>, Erman Nghonda Tchinda, Peter Esenju Mbua, and Christophe Bobda
  </span><br>
  <span class="venue">
    ACM Transactions on Reconfigurable Technology and Systems (TRETS), 18(2), 1–44, 2025
  </span><br>
  <span class="links">
    [<a href="https://dl.acm.org/doi/full/10.1145/3713078" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>SV-LLM: An Agentic Approach for SoC Security Verification using Large Language Models</strong><br>
  <span class="authors">
    Dipayan Saha, Shams Tarek, Hasan Al Shaikh, Khan Thamid Hasan, Pavan Sai Nalluri, Md Ajoad Hasan, Nashmin Alam, Jingbo Zhou, <strong>Sujan Kumar Saha</strong>, Mark Tehranipoor, and others
  </span><br>
  <span class="venue">
    arXiv preprint arXiv:2506.20415, 2025
  </span><br>
  <span class="links">
    [<a href="https://arxiv.org/pdf/2506.20415" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Llm for soc security: A paradigm shift</strong><br>
  <span class="authors">
    Dipayan Saha, Shams Tarek, Katayoon Yahyaei, <strong>Sujan Kumar Saha</strong>, Jingbo Zhou, Mark Tehranipoor, and Farahmandi Farahmandi
  </span><br>
  <span class="venue">
    IEEE Access, 2024
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/10596266" target="_blank">paper</a>]
  </span>
</li>
</ul>
  <br>

<h2>Conference Papers</h2>

<ul class="publication-list">

  <li class="publication-item compact">
  <strong>LAsset: An LLM-assisted Security Asset Identification Framework for SoC Verification</strong><br>
  <span class="authors">
    Md Ajoad Hasan, Dipayan Saha, Khan Thamid Hasan, Nashmin Alam, Azim Uddin,
    <strong>Sujan Kumar Saha</strong>, Mark Tehranipoor, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    Accepted at Design, Automation, and Test in Europe (DATE) conference, 2026
  </span><br>
  <!--<span class="links">[paper | slides]</span>-->
</li>

<li class="publication-item compact">
  <strong>GEmFuzz: Uncovering System-Level Vulnerabilities in SoCs via Emulation-Based Grey-Box Fuzzing</strong><br>
  <span class="authors">
    Shuvagata Saha, Ahmed Alhurubi, Tanvir Rahman, Hasan Al Shaikh,
    <strong>Sujan Kumar Saha</strong>, Farimah Farahmandi, and Mark Tehranipoor
  </span><br>
  <span class="venue"> 
    Accepted at Asia and South Pacific Design Automation Conference (ASP-DAC), 2026
  </span><br>
  <!--<span class="links">[paper | slides]</span>-->
</li>

<li class="publication-item compact">
  <strong>Automating Security Monitoring Event Generation for SoCs Using Large Language Models</strong><br>
  <span class="authors">
    Mridha Md Mashahedur Rahman, <strong>Sujan Kumar Saha</strong>, Mark Tehranipoor, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    Accepted at Government Microcircuit Applications and Critical Technology (GOMACTech) Conference, 2026
  </span><br>
  <!--<span class="links">[paper | slides]</span>-->
</li>

<li class="publication-item compact">
  <strong>Threat2SVA: Threat Model and CWE-Aware Security Assertion Generation Using LLM</strong><br>
  <span class="authors">
    Shams Tarek, Dipayan Saha, <strong>Sujan Kumar Saha</strong>, Mark Tehranipoor, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    Accepted at Government Microcircuit Applications and Critical Technology (GOMACTech) Conference, 2026
  </span><br>
 <!--<span class="links">[paper | slides]</span>-->
</li>

<li class="publication-item compact">
  <strong>Emulation-based Fuzzing for System-level Vulnerability Detection</strong><br>
  <span class="authors">
    Shuvagata Saha, Ahmed Alhurubi, Tanvir Rahman,
    <strong>Sujan Kumar Saha</strong>, Farimah Farahmandi, and Mark Tehranipoor
  </span><br>
  <span class="venue">
    Accepted at Government Microcircuit Applications and Critical Technology (GOMACTech) Conference, 2026
  </span><br>
  <!--<span class="links">[paper | slides]</span>-->
</li>

<li class="publication-item compact">
  <strong>Trusting the Machine: How Secure is LLM-Generated RTL Code?</strong><br>
  <span class="authors">
    Zahin Ibnat, Paul E Calzada, Dipayan Saha, Hasan Al-Shaikh,
    <strong>Sujan Kumar Saha</strong>, Jingbo Zhou, Farimah Farahmandi, and Mark Tehranipoor
  </span><br>
  <span class="venue">
    ACM/IEEE Symposium on Machine Learning for CAD (MLCAD), 2025
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/11189213" target="_blank">paper</a>
      |
    <a href="/assets/slides/Zahin_Ibnat_MLCAD.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Enhancing Hardware Security: Detecting Vulnerabilities in HDL Codes Using Fine-Tuned Large Language Model</strong><br>
  <span class="authors">
    Dipayan Saha, <strong>Sujan Kumar Saha</strong>, Jingbo Zhou, Mark Tehranipoor, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    Annual Government Microcircuit Applications and Critical Technology (GOMACTech) Conference, 2025
  </span><br>
  <!--<span class="links">[paper | slides]</span>-->
</li>

<li class="publication-item compact">
  <strong>SocureLLM: An LLM-Driven Approach for Large-Scale System-on-Chip Security Verification and Policy Generation</strong><br>
  <span class="authors">
    Shams Tarek, Dipayan Saha, <strong>Sujan Kumar Saha</strong>, Mark Tehranipoor, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    IEEE International Symposium on Hardware Oriented Security and Trust (HOST), 2025
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/11050068" target="_blank">paper</a>
    |
    <a href="/assets/slides/SocureLLM_HOST_2025.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>BugWhisperer: Fine-Tuning LLMs for SoC Hardware Vulnerability Detection</strong><br>
  <span class="authors">
    Shams Tarek, Dipayan Saha, <strong>Sujan Kumar Saha</strong>, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    IEEE VLSI Test Symposium (VTS), 2025
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/11022958" target="_blank">paper</a>]</span>
</li>

<li class="publication-item compact">
  <strong>Cultivating Security: Debug Authentication for Ensuring the Security of SoC's Root of Trust</strong><br>
  <span class="authors">
    Arash Vafaei, <strong>Sujan Kumar Saha</strong>, Mark Tehranipoor and Farimah Farahmandi
  </span><br>
  <span class="venue">
    IFIP/IEEE International Conference on Very Large Scale Integration (VLSI-SoC), 2025
  </span><br>
  <span class="links">
    [<a href="/assets/slides/Secure_Debug_VLSI_SoC_Paper.pdf" target="_blank">paper</a>
     |
    <a href="/assets/slides/VLSI-SoC_Secure_Debug_slide.pdf" target="_blank">slide</a>]</span>
  </span>
</li>

<li class="publication-item compact">
  <strong>EmFIA: A Novel Emulation-based Fault Injection Vulnerability Assessment Framework at RTL Level</strong><br>
  <span class="authors">
    Tanvir Rahman, Shuvagata Saha, <strong>Sujan Kumar Saha</strong>, Farimah Farahmandi and Mark Tehranipoor
  </span><br>
  <span class="venue">
    IFIP/IEEE International Conference on Very Large Scale Integration (VLSI-SoC), 2025
  </span><br>
  <span class="links">
    [<a href="/assets/slides/VLSI_SoC_EmFIA_Paper.pdf" target="_blank">paper</a>
     |
    <a href="/assets/slides/VLSI_SoC_EmFIA_2025.pdf" target="_blank">slide</a>]</span>
  </span>
</li>

<li class="publication-item compact">
  <strong>Continuity in Security: Leveraging LLM for Translating Security Properties Across Hardware Designs</strong><br>
  <span class="authors">
    Bulbul Ahmed, <strong>Sujan Kumar Saha</strong>, Jingbo Zhou, Sohrab Aftabjahani, Mark Tehranipoor, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    IFIP/IEEE International Conference on Very Large Scale Integration (VLSI-SoC), 2024
     <span style="color: red;"> (Best Paper candidate)</span>
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/10767831" target="_blank">paper</a>
     |
    <a href="/assets/slides/VLSISOC_24.pdf" target="_blank">slide</a>]</span>
  </span>
</li>

<li class="publication-item compact">
  <strong>Empowering Hardware Security with LLM: The Development of a Vulnerable Hardware Database</strong><br>
  <span class="authors">
    Dipayan Saha, Katayoon Yahyaei, <strong>Sujan Kumar Saha</strong>, Mark Tehranipoor, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    IEEE International Symposium on Hardware Oriented Security and Trust (HOST), 2024
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/10545393" target="_blank">paper</a>]</span>
  </span>
</li>

<li class="publication-item compact">
  <strong>Case Study: Fault-Injection Vulnerability Assessment at RTL Level</strong><br>
  <span class="authors">
    Azim Uddin, <strong>Sujan Kumar Saha</strong>, Farimah Farahmandi, and Mark Tehranipoor
  </span><br>
  <span class="venue">
    IEEE Physical Assurance and Inspection of Electronics (PAINE), 2024
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/10792811" target="_blank">paper</a>
    |
    <a href="/assets/slides/PAINE_2024_poster.pdf" target="_blank">slide</a>]</span>
  </span>
</li>

<li class="publication-item compact">
  <strong>SAP: Silicon Authentication Platform for System-on-Chip Supply Chain Vulnerabilities</strong><br>
  <span class="authors">
    Md Sami Ul Islam Sami, Jingbo Zhou, <strong>Sujan Kumar Saha</strong>, Fahim Rahman, Farimah Farahmandi, and Mark Tehranipoor
  </span><br>
  <span class="venue">
    IEEE International Symposium on Performance Analysis of Systems and Software (ISPASS), 2024
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/10590052" target="_blank">paper</a>
    |
    <a href="/assets/slides/SAP_ISPASS_2024.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Lasp: LLM Assisted Security Property Generation for SoC Verification</strong><br>
  <span class="authors">
    Avinash Ayalasomayajula, Rui Guo, Jingbo Zhou, <strong>Sujan Kumar Saha</strong>, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    ACM/IEEE International Symposium on Machine Learning for CAD (MLCAD), 2024
  </span><br>
  <span class="links">
    [<a href="https://dl.acm.org/doi/abs/10.1145/3670474.3685967" target="_blank">paper</a>
    |
    <a href="/assets/slides/MLCAD_LASP_2024.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>TDM: Time and Distance Metric for Quantifying Information Leakage Vulnerabilities in SoCs</strong><br>
  <span class="authors">
    Avinash Ayalasomayajula, Henin Li, Hasan Al Shaikh, <strong>Sujan Kumar Saha</strong>, and Farimah Farahmandi
  </span><br>
  <span class="venue">
    IEEE International Conference on Computer Design (ICCD), 2024
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/10818135" target="_blank">paper</a>
    |
    <a href="/assets/slides/TDM_presentation_ICCD_2024.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>OpenTitan Based Multi-Level Security in FPGA System-on-Chips</strong><br>
  <span class="authors">
    <strong>Sujan Kumar Saha</strong>, Abigail N Butka, Muhammed Kawser Ahmed, and Christophe Bobda
  </span><br>
  <span class="venue">
    International Conference on Field Programmable Technology (ICFPT), 2023
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/10416100" target="_blank">paper</a>
    |
    <a href="/assets/slides/FPT_poster_2023.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>A Hardware/Software Architecture for System-on-Chip Security</strong><br>
  <span class="authors">
    <strong>Sujan Kumar Saha</strong>, Muhammed Kawser Ahmed, and Christophe Bobda
  </span><br>
  <span class="venue">
    Annual Government Microcircuit Applications and Critical Technology Conference (GOMACTech), 2023
  </span><br>
  <span class="links">
    <!--[paper | slides]-->
  </span>
</li>

<li class="publication-item compact">
  <strong>Trusted IP Solution in Multi-Tenant Cloud FPGA Platform</strong><br>
  <span class="authors">
    Muhammed Kawser Ahmed, <strong>Sujan Kumar Saha</strong>, and Christophe Bobda
  </span><br>
  <span class="venue">
    IEEE World Forum on Internet of Things (WF-IoT), 2022
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/10152167" target="_blank">paper</a>]
  </span>
</li>

  <li class="publication-item compact">
    <strong>Metrics for Assessing Security of System-on-Chip</strong><br>
    <span class="authors">
      <strong>Sujan Kumar Saha</strong>, Joel Mandebi Mbongue, and Christophe Bobda
    </span><br>
    <span class="venue">
      IEEE International Symposium on Hardware Oriented Security and Trust (HOST), 2022
    </span><br>
    <span class="links">
      [<a href="https://ieeexplore.ieee.org/abstract/document/9839854" target="_blank">paper</a>]
    </span>
  </li>

  <li class="publication-item compact">
  <strong>A Security Architecture for Domain Isolation in Multi-Tenant Cloud FPGAs</strong><br>
  <span class="authors">
    Joel Mandebi Mbongue, <strong>Sujan Kumar Saha</strong>, and Christophe Bobda
  </span><br>
  <span class="venue">
    IEEE Computer Society Annual Symposium on VLSI (ISVLSI), 2021
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/9516750" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Domain Isolation in FPGA-Accelerated Cloud and Data Center Applications</strong><br>
  <span class="authors">
    Joel Mandebi Mbongue, <strong>Sujan Kumar Saha</strong>, and Christophe Bobda
  </span><br>
  <span class="venue">
    Great Lakes Symposium on VLSI (GLSVLSI), 2021
  </span><br>
  <span class="links">
    [<a href="https://dl.acm.org/doi/abs/10.1145/3453688.3461527" target="_blank">paper</a>
    |
    <a href="/assets/slides/GLSVLSI_2021.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Performance Study of Multi-Tenant Cloud FPGAs</strong><br>
  <span class="authors">
    Joel Mandebi Mbongue, <strong>Sujan Kumar Saha</strong>, and Christophe Bobda
  </span><br>
  <span class="venue">
    IEEE International Parallel and Distributed Processing Symposium Workshops (IPDPSW), 2021
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/9460664" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>System-on-Chip (SoC) Security through Dynamic Policy Enforcement in Hardware Accelerators</strong><br>
  <span class="authors">
    <strong>Sujan Kumar Saha</strong> and Christophe Bobda
  </span><br>
  <span class="venue">
    Annual Government Microcircuit Applications and Critical Technology Conference (GOMACTech), 2021
  </span><br>
  <span class="links">
    <!--[paper | slides]-->
  </span>
</li>

<li class="publication-item compact">
  <strong>FPGA Accelerated Embedded System Security through Hardware Isolation</strong><br>
  <span class="authors">
    <strong>Sujan Kumar Saha</strong> and Christophe Bobda
  </span><br>
  <span class="venue">
    Asian Hardware Oriented Security and Trust Symposium (AsianHOST), 2020
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/9358258" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Attention-Based Secure Feature Extraction in Near Sensor Processing: Work-in-Progress</strong><br>
  <span class="authors">
    Pankaj Bhowmik, Md Jubaer Hossain Pantho, <strong>Sujan Kumar Saha</strong>, and Christophe Bobda
  </span><br>
  <span class="venue">
    International Conference on Hardware/Software Codesign and System Synthesis (CODES+ ISSS), 2020
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/9244036" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>STGM: Spatio-Temporal GPU Management for Real-Time Tasks</strong><br>
  <span class="authors">
    <strong>Sujan Kumar Saha</strong>, Yecheng Xiang, and Hyoseung Kim
  </span><br>
  <span class="venue">
    IEEE International Conference on Embedded and Real-Time Computing Systems and Applications (RTCSA), 2019
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/8864564" target="_blank">paper</a>
    |
    <a href="/assets/slides/rtcsa19_gpu_stgm_slides.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>A Reconfigurable Layered-Based Bio-Inspired Smart Image Sensor</strong><br>
  <span class="authors">
    Pankaj Bhowmik, Md Jubaer Hossain Pantho, <strong>Sujan Kumar Saha</strong>, and Christophe Bobda
  </span><br>
  <span class="venue">
    IEEE Computer Society Annual Symposium on VLSI (ISVLSI), 2019
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/8839393" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>MeXT: A Flow for Multiprocessor Exploration</strong><br>
  <span class="authors">
    Christophe Bobda, Harold Ishebabi, Philipp Mahr, Joel Mandebi Mbongue, and <strong>Sujan Kumar Saha</strong>
  </span><br>
  <span class="venue">
    IEEE High Performance Extreme Computing Conference (HPEC), 2019
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/8916428" target="_blank">paper</a>
    |
    <a href="/assets/slides/HPEC Presentation_MeXT.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Synthesis of Hardware Sandboxes for Trojan Mitigation in Systems on Chip</strong><br>
  <span class="authors">
    Christophe Bobda, Taylor Whitaker, Joel Mandebi Mbongue, and <strong>Sujan Kumar Saha</strong>
  </span><br>
  <span class="venue">
    IEEE High Performance Extreme Computing Conference (HPEC), 2019
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/8916526" target="_blank">paper</a>
    |
    <a href="/assets/slides/HPEC Presentation_Sandbox.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Byte-Based Partial-Match Instruction and Data Compression for High-Performance and Low-Power Interconnects</strong><br>
  <span class="authors">
    <strong>Sujan Kumar Saha</strong> and Jiangjiang Liu
  </span><br>
  <span class="venue">
    IEEE International New Circuits and Systems Conference (NEWCAS), 2016
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/7604829" target="_blank">paper</a>
    |
    <a href="/assets/slides/PM_Paper_Presentation_2016.pdf" target="_blank">slide</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>A Survey on Interconnect Encoding for Reducing Power Consumption, Delay, and Crosstalk</strong><br>
  <span class="authors">
    <strong>Sujan Kumar Saha</strong>, Bulbul Ahmed, and Jiangjiang Liu
  </span><br>
  <span class="venue">
    IEEE International Conference on Electrical Information and Communication Technologies (EICT), 2015
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/7391913" target="_blank">paper</a>]
  </span>
</li>

<li class="publication-item compact">
  <strong>Modified Bus Invert Encoding to Reduce Capacitive Crosstalk, Power, and Inductive Noise</strong><br>
  <span class="authors">
    Bulbul Ahmed, <strong>Sujan Kumar Saha</strong>, and Jiangjiang Liu
  </span><br>
  <span class="venue">
    IEEE International Conference on Electrical Information and Communication Technologies (EICT), 2015
  </span><br>
  <span class="links">
    [<a href="https://ieeexplore.ieee.org/abstract/document/7391929" target="_blank">paper</a>]
  </span>
</li>

  <br>

  

</ul>





